@import "tailwindcss";

:root {
  --primary: #cc0000;
  --secondary: #767676;
  --dark: #000000;
  --light: #ffffff;
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.navbar {
  padding: .5rem 1.5rem;
  background-color: var(--primary);
  margin-inline: auto;
  width: fit-content;
  border-radius: 50px;
  gap: 8rem;
}

.nav-link-list {
  list-style: none;
}

.nav-link-item {
  padding: .5rem;
}

.nav-link {
  transition: ease-in-out .5s;
  position: relative;
  color: var(--light);

  &:hover:after {
    width: 100%;
  }

}

.nav-link::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: var(--light);
    transition: width .5s;
}

.section-container {
  margin: auto;
  width: 65.5%;
  padding: 6rem 0;
}

.section-container-start {
  margin: auto;
  width: 45.5%;
  padding: 6rem 0;
}

@media (max-width: 1400px) {
  .section-container {
    width: 90%;
  }

  .section-container-start {
    width: 90%;
  }
}

.section-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(var(--primary, var(--primary))) bottom center no-repeat;
  background-size: 70% 3px;
}

.section-subtitle {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary);
  width: fit-content;
}


.btn-primary {
  color: var(--light);
  background-color: var(--primary);
  padding: .5rem 2rem;
  width: fit-content;
  transition: ease-in-out .5s;

  &:hover {
    color: var(--primary);
    background-color: var(--light);
  }
}

#inicio {
  height: 900px;
  background-image: linear-gradient(
    to right,
    rgba(10, 10, 10, 0.85),
    rgba(26, 26, 26, 0.78)
  ),
  url('/background/santander-bg-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-list {
  list-style: disc;
}

.technology-list-item {
  color: var(--light);
  background-color: var(--primary);
  padding: 0.2rem 1rem;
  border-radius: 20px;
  border: 1px solid var(--primary);
  transition: ease-in-out .5s;

  &:hover {
    color: var(--primary);
    background-color: var(--light);
  }
}